<section class="shadow-custom py-4 px-5 my-6">
  <!-- Title and description section  -->
  <div>
    <h2 class="font-bold text-[#2B3674] text-2xl">Contact us</h2>
    <p class="text-[#A3AED0] text-sm mt-4">
      don't hesitate to contact us if you have any question
    </p>
  </div>

  <!-- Form -->
  <form [formGroup]="contactForm" class="mt-5 w-full" #formElement>
    <div class="my-1">
      <contactLess-input
        formControlName="messageTitle"
        type="text"
        label="Message Title"
        placeholder="Message Title"
      ></contactLess-input>
    </div>
    <div class="my-1">
      <contactLess-input
        formControlName="userName"
        type="text"
        label="Name"
        placeholder="Name"
      ></contactLess-input>
    </div>
    <div class="my-1">
      <contactLess-input
        formControlName="email"
        type="email"
        label="Email"
        placeholder="Email"
      ></contactLess-input>
    </div>

    <div class="my-1">
      <input
        id="isConfirmCheckBox"
        type="checkbox"
        formControlName="isConfirm"
      />
      <label
        for="isConfirmCheckBox"
        class="text-[#2B3674] text-sm font-semibold ml-2"
        >Agree</label
      >
    </div>

    <div class="my-1 flex justify-start items-start flex-col">
      <label class="text-[#2B3674] text-sm font-semibold">Gender</label>
      <select
        formControlName="gender"
        class="focus:outline-none focus:shadow-outline w-full rounded-md my-2 py-2 placeholder-placeholderBorder text-sm border-[#E0E5F2] border bg-transparent"
      >
      <option value="" disabled selected>Select an option</option>
        <option value="1">Male</option>
        <option value="2">Female</option>
      </select>
    </div>

    <div class="footer flex justify-between items-center gap-3">
      <button
        class="bg-orange-500 text-white px-4 py-2 rounded w-full disabled:bg-slate-700 disabled:text-white"
        (click)="undo()"
        [disabled]="this.undoStack.length <= 1"
      >
        Undo
      </button>
      <button
        class="bg-green-500 text-white px-4 py-2 rounded w-full disabled:bg-slate-700 disabled:text-white"
        [disabled]="this.redoStack.length === 0"
        (click)="redo()"
      >
        Redo
      </button>
    </div>
  </form>
</section>
